# Code owners for development branch - talentradar-user-management-service-rw
# .github folder is managed by bikaze and muhirwaJD
/.github/ @bikaze @muhirwaJD

# Everything else is managed by nccharles and ishimweeli
* @nccharles @ishimweeli
